body { 
  line-height: 1.5; 
  background: #fff; 
  margin:0; 
}

a {
    /* font-family:'America-mono'; */
    /* border: 1px solid black; */
    /* padding: 5px; */
    color: black;
}

a:hover {
    color: #666;
}

a img { border: none; }

/* America mono + America */
@font-face{font-family:'America-mono';src:url('f/GT-America-Mono-Medium.eot');src:local('☺'),url('f/GT-America-Mono-Medium.woff') format('woff'),url('f/GT-America-Mono-Medium.ttf') format('truetype'),url('f/GT-America-Mono-Medium.svg') format('svg');font-weight:400;font-style:normal}
@font-face{font-family:'America';src:url('f/GT-America-Extended-Black.eot');src:local('☺'),url('f/GT-America-Extended-Black.woff') format('woff'),url('f/GT-America-Extended-Black.ttf') format('truetype'),url('f/GT-America-Extended-Black.svg') format('svg');font-weight:400;font-style:normal}

body {
    background-color: white;
    color: black;
    font-family: 'America-mono';
    width: 80%;
    /* text-transform: uppercase; */

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#count {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'America-mono';
}

#guess, #suggest, h1, h2, a, .value {
    text-transform: uppercase;
    font-family: 'America';

}

#retrain, #display_data {
    text-align: left;
    float: left;
}
