$def with (chosen)

$if chosen:
    <p>Serait-ce...</p>
    <h1 id="guess"><a href="$chosen.link">$chosen.name</a></h1>
    <p>Était-ce l'article recherché ?</p>
    <form action="/guess/$chosen.id" method="post" id="answer_form">
        <input type="button" name="yes" value="oui">
        <input type="button" name="no" value="non">
        <input type="hidden" name="answer">
    </form>
    <p>
    $if chosen.times_played >0:
        Joué $chosen.times_played de fois.
        La dernière fois à $chosen.last_played.</p>
$else:
    <p>Je n'ai rien trouvé.</p>
    <form action="/guess" method="post">
        <input type="submit" name="answer" value="Ajouter un article">
    </form>
